<div class="modal-open modal-legal">
    <div class="content-wrapper">
        <i class="fa fa-times close-icon" aria-hidden="true" (click)="closeModal()"></i>
        <div class="modal-header">
            <h2 class="modal-title">{{'Reset password' | translate}}</h2>
        </div>
        <div class="content">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <form role="form" class="form-base" [formGroup]="formForgetPassword">
                        <div class="form-content">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{'E-mail' | translate }}" class="form-control input-lg"
                                    formControlName="email" maxlength="100">
                                <mat-error *ngIf="formForgetPassword.get('email').hasError('required')">
                                    {{ 'E-mail is' | translate }} <strong>{{ 'required' | translate }}</strong>
                                </mat-error>
                                <mat-error *ngIf="formForgetPassword.get('email').hasError('email')">
                                    {{ 'E-mail invalid' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <button class="btn rounded-btn pull-right" [disabled]="formForgetPassword.invalid" (click)="sendForgetPassword()">
                            {{'Send' | translate}} </button>&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>