<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>English Study Decks</h1>
            <form role="form" [formGroup]="formLogin" class="form-base" (ngSubmit)="onLoggedin(formLogin.value)">
                <div class="form-content">
                    <mat-form-field class="full-width inputs-login">
                        <input matInput placeholder="{{'E-mail' | translate }}" class="form-control input-lg"
                            formControlName="email" maxlength="100">
                        <mat-error *ngIf="formLogin.get('email').hasError('required')">
                            {{ 'E-mail is' | translate }} <strong>{{ 'required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="formLogin.get('email').hasError('email')">
                            {{ 'E-mail invalid' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width inputs-login">
                        <input type="password" matInput placeholder="{{'Password' | translate }}" class="form-control input-lg"
                            formControlName="password" id="password">
                        <mat-error *ngIf="formLogin.get('password').hasError('required')">
                            {{ 'Password is' | translate }} <strong>{{ 'required' | translate }}</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="form-group">
                        <select id="language" #selectLanguage class="form-control input-underline input-underline-select input-lg"
                            (change)="changeLanguage($event);">
                            <option value="en">{{ 'English' | translate }}</option>
                            <option value="pt-br">{{ 'Portuguese' | translate }}</option>
                        </select>
                    </div>
                    <div>
                        <a href="#" (click)="resetPassword(); $event.preventDefault();">{{'Reset password' |
                            translate}}
                        </a>
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/register']">{{'Register' | translate}}</a>
                &nbsp;
                <button type="submit" class="btn rounded-btn" [disabled]="formLogin.invalid">{{'Log in' | translate}}</button>
            </form>
        </div>
    </div>
</div>